.container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding-top: 100px;
  gap: 0;
}

.container > .Login-form,
.container > .login-image {
  flex: 1 1 50%;
  max-width: 27.5%;
  height: 610px; 
}

.container h1{
  color: #F2F2F2;
  font-size: 34px;
  margin-bottom:17px;
}


.Login-form {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 100px;
  border-radius: 0px;
  background-color: #182259;
  width: 90%;
  height: 90%;
  max-width: none;

  & p{
  color:#F2F2F2;
  margin-top:20px;
  margin-bottom:7px;
  font-weight: 500;
  font-size:14px;
  letter-spacing: 0.1em;
}

  & button{
    
    align-items: center;
    margin-top:60px;
    border-radius: 10px;
    color: #182259;
    background-color: #D4AF37;
    height: 41px;
    width: 334px;
    font-weight: bold;
    cursor: pointer;
  }

  & button:hover{
    opacity: 0.8;
  }

  & input{
    border:1px solid #48456c; 
    border-radius:10px;
    height: 40px;
    background-color: #182259;
    color: #fff;
    padding-left: 10px;
    outline: none
  }
}

.login-header{
  text-align: center;
  margin-bottom: 30px;
  & h1{
    color:#D4AF37
  }  
}

.register{
  color: #fff;
  font-size: 10px;
  gap: 5px;  
  border-radius: 10px;
  background-color: #182259;
  width: 400px;
  max-width: 100%;
  align-items: left;
  display: flex;
  padding-left: 50px;
  & p {
    font-size: 10px;
    
  }
  & a{
    font-size: 10px;
    font-weight: normal;
    color: #D4AF37;
  }
}

.login-image{
 
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-image img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top right;
}
