.container{
  display: flex;
  flex-direction: column;
  padding-top: 100px;

& h1{

  color: #F2F2F2;
  font-size: 34px;
  margin-bottom:17px;
}

& p{
  color:#F2F2F2;
  margin-top:20px;
  margin-bottom:7px;
  font-weight: 500;
  font-size:14px;
  letter-spacing: 0.1em;
}

}



.Login-form {
  display: flex;
  align-items: left;
  flex-direction: column;
  padding: 100px;
  border-radius: 0px;
  background-color: #182259;
  width: 540px;
  height: 650px;
  max-width: 50%;

  & button{
    
    align-items: center;
    margin-top:30px;
    border-radius: 10px;
    background-color: #8d8ae1;
    height: 41px;
    width: 313px;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
  }

  & button:hover{
    opacity: 0.8;
  }

  & input{
    border:1px solid #48456c; 
    border-radius:10px;
    height: 40px;
    background-color: #182259;
    color: #fff;
    padding-left: 10px;
    outline: none
  }
}

.login-header{
  text-align: center;  
}

.register{
  color: #fff;
  font-size: 10px;
  gap: 5px;  
  border-radius: 10px;
  background-color: #182259;
  width: 400px;
  max-width: 100%;
  align-items: left;
  display: flex;
  padding-left: 50px;
  & a{
    font-size: 10px;
    font-weight: normal;
    color: #D4AF37;
  }
}
