*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1{
  font-family: "Cinzel", serif;
}

p{
  font-family: "Montserrat", sans-serif;
}

input{
 font-family: "Montserrat", sans-serif; 
}

body {
  min-height: 100vh;
  width: 100vw;
  background: linear-gradient(180deg, #535bf2);
}

